
.box_letra {
    color: #1E293B  ;              /* Muda a cor do texto para branco */
    text-decoration: none;     /* Remove o sublinhado padrão do link */
    font-family: sans-serif;   /* Define uma fonte mais moderna */
    font-weight: bold;         /* Deixa o texto em negrito */
    padding: 10px;             /* Adiciona um espaçamento interno ao texto */

    
}

.box_cinza_claro  {
    background-color: #E2E8F0  ; /* Define a cinza */
    width: 150px;              /* Define a largura igual à altura */
    height: 100px;             /* Define a altura igual à largura */
    display: flex;             /* Ativa o modo flexbox */
    justify-content: center;   /* Centraliza o link na horizontal */
    align-items: center;       /* Centraliza o link na vertical */
    text-align: center;        /* Garante o alinhamento do texto */

    border: 1px solid #94A3B8 ;
}


.box_cinza_medio {
    background-color: #6B7280 ; /* Define a cor  */
    width: 150px;              /* Define a largura igual à altura */
    height: 100px;             /* Define a altura igual à largura */
    display: flex;             /* Ativa o modo flexbox */
    justify-content: center;   /* Centraliza o link na horizontal */
    align-items: center;       /* Centraliza o link na vertical */
    text-align: center;        /* Garante o alinhamento do texto */
    
    border: 1px solid #4F46E5 ;
}




.m{
    border: 1px solid red;
}